<nz-row id="CartaInicio">
    <nz-col nzXl="8" nzLg="8" nzMd="8" nzSm="24" nzXs="24">

    </nz-col>
    <nz-col nzXl="8" nzLg="8" nzMd="24" nzSm="24" nzXs="24">
        <nz-card id="CartaInicio" nzTitle="Empezar">

            <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
                <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round" (click)="IrInicioSesion()">
                    Iniciar Sesion
                </button>
            </nz-col>
            <br>
            <br><br>
            <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
                <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round">
                    Crear cuenta
                </button>
            </nz-col>
        </nz-card>

    </nz-col>
    <nz-col nzXl="8" nzLg="8" nzMd="8" nzSm="24" nzXs="24">

    </nz-col>
</nz-row>