<nz-card style="width:30vw;height: 300px; margin-top: 20%;" nzTitle="Empezar" [nzExtra]="extraTemplate">
    <nz-row>

    </nz-row>
    <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
        <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round" (click)="IrInicioSesion()">
            <span nz-icon nzType="download"></span>
            Iniciar<br> Sesion
        </button>
    </nz-col>
    <br>
    <br><br>
    <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
        <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round">
            <span nz-icon nzType="download"></span>
            Crear <br> cuenta
        </button>
    </nz-col>

</nz-card>
<ng-template #extraTemplate>
</ng-template>