<nz-row id="CartaInicio">


    <nz-card id="CartaInicio" nzTitle="Empezar">

        <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
            <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round" (click)="IrInicioSesion()">
                <span nz-icon nzType="download"></span>
                Iniciar<br> Sesion
            </button>
        </nz-col>
        <br>
        <br><br>
        <nz-col nzXl="24" nzLg="24" nzMd="24" nzSm="24">
            <button nz-button class="btn-paginaInicio" nzType="primary" nzShape="round">
                <span nz-icon nzType="download"></span>
                Crear <br> cuenta
            </button>
        </nz-col>
    </nz-card>
</nz-row>