<nz-table id="TableRents" #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
    <thead>
        <tr>
            <th></th>
            <th>Direccion</th>
            <th>Inquilino</th>
            <th>Monto</th>
            <th>Proxima actualizacion</th>
            <th>Pagado</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td [(nzExpand)]="data.expand"></td>
                <td>{{ data.addres }}</td>
                <td>{{ data.tenant }}</td>
                <td>${{ data.amount }}</td>
                <td>{{data.nextUpdate}}</td>
                <td>
                    <span *ngIf="data.paid" nz-icon nzType="check" nzTheme="outline"></span>
                    <span *ngIf="!data.paid" nz-icon nzType="close" nzTheme="outline"></span>
                </td>
                <td (click)="OnEdit(data)">
                    <app-modal-edit></app-modal-edit>

                </td>

                <td>

                    <app-modal-delete propertyToDelete={{data.id}}></app-modal-delete>
                </td>


            </tr>
            <tr [nzExpand]="data.expand">
                <nz-table #innerTable [nzData]="listOfParentData" nzSize="middle" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Alquilado desde</th>
                            <th>Metodo</th>
                            <th>Vencimiento</th>
                            <th>Contacto</th>
                            <th>Observacion</th>
                            <th>Recibo</th>
                        </tr>
                    </thead>
    <tbody>
        <tr>
            <td>{{ data.leasedSince }}</td>
            <td>{{data.method}}</td>
            <td>{{data.expiryDate}}</td>
            <td>{{data.contact}}</td>
            <td>{{data.observation}}</td>
            <td (click)="OnGenerateReceipt(data)">
                <app-receipt></app-receipt>
            </td>
        </tr>
    </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>