<nz-table id="TableRents" #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
    <thead>
        <tr>
            <th></th>
            <th>Direccion</th>
            <th>Inquilino</th>
            <th>Monto</th>
            <th>Pagado</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <td [(nzExpand)]="data.expand"></td>
                <td>{{ data.addres }}</td>
                <td>{{ data.tenant }}</td>
                <td>${{ data.amount }}</td>
                <td>
                    <span *ngIf="data.paid" nz-icon nzType="check" nzTheme="outline"></span>
                    <span *ngIf="!data.paid" nz-icon nzType="close" nzTheme="outline"></span>
                </td>
                <td (click)="OnEdit(data)">
                    <app-modal-edit></app-modal-edit>

                </td>

                <td>

                    <app-modal-delete propertyToDelete={{data.id}}></app-modal-delete>
                </td>


            </tr>
            <tr [nzExpand]="data.expand">
                <nz-table #innerTable [nzData]="listOfParentData" nzSize="middle" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Coste de propiedad</th>
                            <th>Proyectado</th>
                            <th>Contacto</th>
                            <th>Condicion</th>
                            <th>Observacion</th>
                        </tr>
                    </thead>
    <tbody>
        <tr>
            <td>${{ data.propertyCost }}</td>
            <td>${{ data.amount }}</td>
            <td>{{data.contact}}</td>
            <td>
                <p *ngIf="data.condition == '1'">Alquilado</p>
                <p *ngIf="data.condition == '2'">Contrato</p>
                <p *ngIf="data.condition == '3'">Sin alquilar</p>

            </td>
            <td>{{data.observation}}</td>

        </tr>
    </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>