#contTotal {
    background-color: rebeccapurple;
    background-image: url('../../assets/img/money-2724235_1280.jpg');
    background-repeat: no-repeat !important;

    height: 100vh;
    background-size: cover;
}

#loginCard {
    align-items: center;
    width: 100%;
}

.loginInput {
    width: 100%;

}

.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}