<ng-container>
    <div id="contTotal">
        <nz-row>
            <nz-col nzXl="8" nzLg="8" nzMd="8" nzSm="24" nzXs="24"></nz-col>
            <nz-col nzXl="8" nzLg="8" nzMd="8" nzSm="24" nzXs="24">
                <nz-card nzTitle="Iniciar Sesion" id="loginCard">
                    <form id="contForm" nz-form class="login-form" [formGroup]="form">
                        <h3>{{messegeFromBack}}</h3>
                        <nz-form-control nzErrorTip="Please input your Password!">
                            <input nzErrorTip="Please input your Password!" class="loginInput"
                                formControlName="username" type="text" nz-input placeholder="Usuario" />
                        </nz-form-control>
                        <p style="color:rgb(184, 52, 52)">{{userErrorMessege}}</p>
                        <br>
                        <input class="loginInput" formControlName="password" type="password" nz-input
                            placeholder="Constraseña" />
                        <p style="color:rgb(184, 52, 52)">{{PasswordErrorMessege}}</p>

                        <br>
                        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                            (click)="OnLogIn()">Iniciar sesion</button>

                        <div style="text-align: center;">
                            <a>Crea una cuenta</a>
                        </div>
                    </form>
                </nz-card>
            </nz-col>
            <nz-col nzXl="8" nzLg="8" nzMd="8" nzSm="24" nzXs="24"></nz-col>

        </nz-row>
    </div>
</ng-container>