#contTotal {

    background-image: url('../../assets/img/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center !important;
}

#loginCard {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    top: 33%;
}

#contForm {
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100% !important;
}

.loginInput {
    width: 100%;

}

.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}