<ng-container id="contTotal">
    <nz-col [nzXl]="12" nzLg="12" nzMd="12" nzSm="24" nzXs="24">
        <div>
            <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Card title">
                <h1>Property Hub</h1>
                <br>
                <h3>Administra tus alquileres con Property Hub</h3>
            </nz-card>
            <nz-carousel nzAutoPlay>
                <div nz-carousel-content>
                    <h3></h3>
                </div>
            </nz-carousel>
        </div>
    </nz-col>
    <nz-col [nzXl]="12" nzLg="12" nzMd="12" nzSm="24" nzXs="24">
        <app-pagina-inicio></app-pagina-inicio>
    </nz-col>
</ng-container>